<app-header class="col-12 p-4 d-flex flex-row flex-nowrap justify-content-between align-items-center"></app-header>
<app-menu class="col-11 p-4 my-1 mt-3 d-flex flex-row flex-nowrap justify-content-around align-items-start global-container"></app-menu>
<app-heading class="col-11 p-4  my-2 global-container"></app-heading>
<app-info-general class="col-11 p-4 my-2 global-container"></app-info-general>
<app-info-financial class="col-11 p-4 my-2 global-container"></app-info-financial>
<app-posts class="col-11 p-4 my-2 global-container"></app-posts>
