<div class="col-2 d-flex justify-content-center align-items-center flex-column">
    <div class="position-relative col-12 col-md-7 d-flex justify-content-center">
      <div id="menu1" class="rounded-circle d-flex justify-content-center align-items-center col-11" ><img src="../../../assets/images/Trazado 15844.png" alt="">
      </div>
    </div>
    <span class="text-center mt-3">
      Vista general de la cuenta
    </span>
</div>

<div class="col-2 d-flex justify-content-center align-items-center flex-column">
  <div class="position-relative col-12 col-md-7 d-flex justify-content-center">
    <span class="position-absolute">

    </span>
    <div id="menu2" class="rounded-circle d-flex justify-content-center align-items-center col-11" ><img src="../../../assets/images/Trazado 24904.png" alt="">
    </div>
  </div>
  <span class="text-center mt-3">
    Editar perfil
  </span>
</div>

<div class="col-2 d-flex justify-content-center align-items-center flex-column">
  <div class="position-relative col-12 col-md-7 d-flex justify-content-center">
    <div id="menu3" class="rounded-circle d-flex justify-content-center align-items-center col-11" ><img src="../../../assets/images/desbloquear.png" alt="">
    </div>
    <span class="position-absolute">
    </span>
  </div>
  <span class="text-center mt-3 text-muted">
    Cambio de contraseña
  </span>
</div>

<div class="col-2 d-flex justify-content-center align-items-center flex-column">
  <div class="position-relative col-12 col-md-7 d-flex justify-content-center">
    <span class="position-absolute">

    </span>
    <div id="menu4" class="rounded-circle d-flex justify-content-center align-items-center col-11" ><img src="../../../assets/images/Grupo 24955.png" alt="">
    </div>
  </div>
  <span class="text-center mt-3">
    Configuracion de notificaciones
  </span>
</div>
