
<div class="col-12 d-flex flex-row flex-wrap justify-content-around">
  <form action="get" class="col-12">
    <h1>Search a post</h1>
    <div class="form-group">
      <label for="postNum">Post number</label>
      <input type="email" class="form-control" id="postNum" aria-describedby="postNumHelp" placeholder="Enter post number">
      <small id="postNumHelp" class="form-text text-muted">Enter post number from 1 to 100</small>
    </div>
  </form>
  <form action="post" class="col-12">
    <h1>Create post</h1>
    <div class="form-group">
      <label for="postNum1">Post number</label>
      <input type="email" class="form-control" id="postNum1" aria-describedby="postNumHelp1" placeholder="Enter post number">
      <small id="postNumHelp1" class="form-text text-muted">Enter post number</small>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="email" class="form-control" id="title" aria-describedby="postTitleHelp" placeholder="Enter post number">
      <small id="postTitleHelp" class="form-text text-muted">Enter post title</small>
    </div>
    <div class="form-group">
      <label for="bodyArea">Example textarea</label>
      <textarea class="form-control" id="bodyArea" aria-describedby="bodyAreaHelp" rows="3"></textarea>
      <small id="bodyAreaHelp" class="form-text text-muted">Enter post body</small>
    </div>
  </form>
</div>
