<h1 class="mb-3">
  Información general
</h1>
<form>
  <div class="form-group mb-3">
    <label for="nombres">Nombres</label>
    <input type="text" class="form-control" id="nombres" aria-describedby="emailHelp" placeholder="Carlos">
  </div>
  <div class="form-group mb-3">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" placeholder="Monsalve">
  </div>
  <div class="form-group mb-3">
    <label for="documento">Documento de identidad</label>
    <input type="text" class="form-control" id="documento" placeholder="100000000">
  </div>
  <div class="form-group mb-3">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="@gmail.com">
  </div>
  <div class="form-row mb-3">
    <div class="form-group col-4">
      <label for="numeral">Numeral</label>
      <select id="numeral" class="custom-select">
        <option value="" disabled selected>Select your option</option>
        <option class="">+57</option>
        <option>+1</option>
      </select>
    </div>
    <div class="form-group col-7 ml-auto" >
      <label for="celular">Celular</label>
      <input type="text" class="form-control" id="celular" placeholder="3192671867">
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="fecha">Fecha de nacimiento</label>
    <input type="text" class="form-control" id="fecha" placeholder="24/12/2017">
  </div>
  <div class="form-group d-flex justify-content-around col-12 mt-4 mb-5">
    <button class="btn">
      Hombre
    </button>
    <button class="btn">
      Mujer
    </button>
  </div>


  <button type="submit" class="btn btn-primary col-12 btn btn-global p-3">Editar</button>
</form>
