<h1 class="mb-3">
  Información financiera
</h1>
<form class="">

  <div class="form-group mb-4">
    <label >Ocupación</label>
    <div class="form-check check">
      <input class="form-check-input" type="checkbox" value="" id="check1">
      <label class="form-check-label ml-1 text-center" for="check1">
        Estudiante
      </label>
    </div>
    <div class="form-check check">
      <input class="form-check-input" type="checkbox" value="" id="check2">
      <label class="form-check-label ml-1" for="check2">
        Empleado
      </label>
    </div>
    <div class="form-check check">
      <input class="form-check-input" type="checkbox" value="" id="check3">
      <label class="form-check-label ml-1" for="check3">
        Independiente
      </label>
    </div>
    <div class="form-check check">
      <input class="form-check-input" type="checkbox" value="" id="check4">
      <label class="form-check-label ml-1" for="check4">
        Pensionado
      </label>
    </div>
    <div class="form-check check">
      <input class="form-check-input" type="checkbox" value="" id="check5">
      <label class="form-check-label ml-1" for="check5">
        Otro
      </label>
    </div>
  </div>

  <div class="form-row mb-5">
      <div class="form-group col-12 mb-4">
        <label for="numeral2">Nivel de educacion</label>
        <select id="numeral2" class="custom-select">
          <option value="" disabled selected>Select your option</option>
          <option class="">Postgrado</option>
          <option class="">opcion</option>
          <option class="">oprion</option>
        </select>
      </div>
      <div class="form-group col-12 mb-4">
        <label for="numeral3">Actividad laboral</label>
        <select id="numeral3" class="custom-select">
          <option value="" disabled selected>Select your option</option>
          <option class="">Tecnologia</option>
          <option class="">opcion</option>
          <option class="">oprion</option>
        </select>
      </div>
      <div class="form-group col-12 mb-4">
        <label for="numeral4">Ingresos promedio mensuales</label>
        <select id="numeral4" class="custom-select">
          <option value="" disabled selected>Select your option</option>
          <option class="">Entre 2'0000.001 y 3'000.000</option>
          <option class="">opcion</option>
          <option class="">oprion</option>
        </select>
      </div>
      <div class="form-group col-12">
        <label for="numeral5">Gastos promedio mensuales</label>
        <select id="numeral5" class="custom-select">
          <option value="" disabled selected>Select your option</option>
          <option class="">Entre 1'500.000 y 2'000.000</option>
          <option class="">opcion</option>
          <option class="">oprion</option>
        </select>
      </div>
  </div>

  <button type="submit" class="btn btn-primary col-12 btn btn-global p-3">Editar</button>
</form>
